<div>
  <a href="#" class="link-primary" [routerLink]="['/create-ticket']">Create Ticket</a>
  <pre></pre>
  <div class="row justify-content-between">
    <div class="col-4">
      Search Tickets: <span filterInput filterSource #filterElement></span>
    </div>
    <div class="col-4 text-end">
      Showing {{recordCount$ | async}} Tickets
    </div>
  </div>
  <pre></pre>
  <table sortable class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th sortHeader ref="id">ID</th>
        <th sortHeader ref="raisedBy">Raised By</th>
        <th sortHeader ref="assignedTo">Assigned To</th>
        <th sortHeader ref="ticketStatus">Status</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of tickets$ | async">
        <td><ngb-highlight [result]="x.id.toString()" [term]="filterElement.currentValue">{{x.id}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.raisedBy" [term]="filterElement.currentValue">{{x.raisedBy}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.assignedTo" [term]="filterElement.currentValue">{{x.assignedTo}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.ticketStatus" [term]="filterElement.currentValue">{{x.ticketStatus}}</ngb-highlight></td>
        <td><ngb-highlight [result]="x.description" [term]="filterElement.currentValue">{{x.description}}</ngb-highlight></td>
      </tr>
    </tbody>
  </table>
</div>
