<div>
  <a href="#" class="link-primary" [routerLink]="['/create-ticket']">Create Ticket</a>
  <pre></pre>
  <div class="alert alert-info"><b>Ticket List</b></div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Raised By</th>
        <th>Assigned To</th>
        <th>Status</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let x of TicketList | async">
        <td>{{x.id}}</td>
        <td>{{x.raisedBy}}</td>
        <td>{{x.assignedTo}}</td>
        <td>{{x.ticketStatus}}</td>
        <td>{{x.description}}</td>
      </tr>
    </table>
  </div>
</div>
