<div class="root">
  <div class="row justify-content-between">
    <div class="col-4">
      Search Tickets: <span filterInput filterSource #filterElement></span>
    </div>
    <div class="col-4 text-end">
      Showing {{recordCount$ | async}} Tickets
    </div>
  </div>
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns">

        <div cdkDropList cdkDropListOrientation="horizontal" class="board-columns">
          <div cdkDragLockAxis="x" class="board-column" *ngFor="let column of board$ | async" cdkDrag>
            <div class="column-title" cdkDragHandle>
              {{ column.title }}
            </div>
            <div class="tasks-container" id="{{column.id}}" [cdkDropListConnectedTo]="['1', '2', '3']" cdkDropList
              [cdkDropListData]="column.data" (cdkDropListDropped)="drop($event)">
              <div class="task" *ngFor="let ticket of column.data as TicketListItem" cdkDrag>
                <ngb-highlight [result]="ticket.description" [term]="filterElement.currentValue">{{ticket.description}}</ngb-highlight>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>