<div>
  <a href="#" class="link-primary" [routerLink]="['/create-ticket']">Create Ticket</a>
  <pre></pre>
  <div class="alert alert-info"><b>Ticket List</b></div>
  Search Tickets: <span filterInput filterSource></span>
  <div class="table-responsive">
    <table sortable class="table table-striped">
      <thead>
        <tr>
          <th sortHeader ref="id">ID</th>
          <th sortHeader ref="raisedBy">Raised By</th>
          <th sortHeader ref="assignedTo">Assigned To</th>
          <th sortHeader ref="ticketStatus">Status</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of tickets$ | async">
          <td>{{x.id}}</td>
          <td>{{x.raisedBy}}</td>
          <td>{{x.assignedTo}}</td>
          <td>{{x.ticketStatus}}</td>
          <td>{{x.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
