<div>
  <a href="#" class="link-primary" [routerLink]="['/create-user']">Create User</a>
  <pre></pre>
  <div class="alert alert-info"><b>User List</b></div>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Type</th>
        <th>Office</th>
      </tr>
      <tr *ngFor="let x of UserList | async">
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
        <td>{{x.userType}}</td>
        <td>{{x.office.name}}</td>
      </tr>
    </table>
  </div>
</div>
