<div>
  <a href="#" class="link-primary" [routerLink]="['/user']">Create User</a>
  <pre></pre>
  <div class="alert alert-info"><b>User List</b></div>
  <div class="table-responsive">
    <table sortable class="table table-striped">
      <thead>
        <tr>
          <th sortHeader ref="firstName">First Name</th>
          <th sortHeader ref=lastName>Last Name</th>
          <th sortHeader ref="userType">Type</th>
          <th sortHeader ref="officeName">Office</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of users$ | async">
          <td>{{x.firstName}}</td>
          <td>{{x.lastName}}</td>
          <td>{{x.userType}}</td>
          <td>{{x.officeName}}</td>
          <td><a [routerLink]="['/user', x.id]">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>